@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

.uk-article{
    font-family: "Lora";

}

h1{
    font-family: "Playfair Display", serif;
    font-size: 48px;
    text-align: left;
    margin-bottom: 8px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    margin: 56px 0 -13px -1.883px;
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    /* margin: 56px 0 -13px -1.883px; */
    color: var(--text-color);
    text-align: left;
    line-height: 34.5px;
    letter-spacing: -0.45px;
}

p, i, a {
    margin-top: 21px;
    font-family: "Lora";
    font-size: 21px;
    letter-spacing: -0.03px;
    line-height: 1.58;
}

a {
    text-decoration: underline;
}

blockquote {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-style: italic;
    letter-spacing: -0.36px;
    line-height: 44.4px;
    overflow-wrap: break-word;
    margin: 55px 0 33px 0;
    /* text-align: center; */
    color: rgba(0, 0, 0, 0.68);
    padding: 0 0 0 50px;
}

code {
    font-size: 18px;
    background: rgba(0,0,0,.05);
    border-radius: 2px;
    padding: 3px 5px;
}

.highlighted {
    background: #7DFFB3;
}


.box-showcase-news{
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    /* border-bottom: 3px solid #436A71; */
    max-height:150px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}
.box-showcase-news:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 50px, white);
}

.news-title{
    text-decoration: none;
    font-family: 'Playfair Display';
    color: #436A71
}

.news-title:hover{
    color: var(--text-color)
}


.uk-description-list p,
.uk-description-list i,
.uk-description-list a{
    margin-top: 21px;
    font-family: "Open Sans";
    font-size: 16px;
    
    text-transform: none;
    line-height: 1;
    letter-spacing: 0px;
    text-decoration: none;
    color: #436A71;
}


.uk-description-list p:hover,
.uk-description-list i:hover,
.uk-description-list a:hover{
    color: seagreen;
    color: var(--text-color)
}