<div class="sidebar-wrapper active">
  <div class="sidebar-header">
    <div style="text-align:center">
      <div class="logo">
        <a><img src="assets/img/spotify.png" style="width:100%; height: auto;"  alt="Logo" srcset=""></a>
      </div>
      <div class="toggler">
        <a (click)="toggleSidebar()" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
      </div>
    </div>
  </div>
  <div class="sidebar-menu" style="font-family: 'Raleway';">
    <ul class="menu">
      <li class="sidebar-title">Menu</li>

      <li class="sidebar-item" [attr.name]="menu.urlPrefix" [ngClass]="openedMenu.urlPrefix === menu.urlPrefix ? 'active' : ''" *ngFor="let menu of listMenu" routerLink="{{menu.url}}">
        <a  class='sidebar-link'>
          <i class="fa {{menu.fontAwesomeIcon}}" style="font-size: 20px;"></i>
          <span>{{ menu.menuName }}</span>
        </a>
      </li>

    

      
    </ul>
  </div>
  <button class="sidebar-toggler btn x" ><i data-feather="x"></i></button>
</div>


