
<div class="uk-alert-danger" uk-alert *ngIf="currentUser == undefined">
    <a class="uk-alert-close" uk-close></a>
    <p>kamu tidak memiliki akses</p>
</div>


<div id="modal-form-postexcl" class="uk-modal-container" uk-modal uk-modal="bg-close:false; esc-close:false">
    <div class="uk-modal-dialog uk-modal-body">
        <!-- <h2 class="uk-modal-title">{{ beritaForm?.controls?.title?.value }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
        
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" style="width: 50px; height: 50px;"  *ngIf="beritaForm.value.imageUrl != null" [src]="beritaForm.value.imageUrl">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ beritaForm?.controls?.title?.value }}</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                </div>
            </div>
        </div>

        <form [formGroup]="beritaForm"  (ngSubmit)="onSubmit()">

            <span class="toggleForm">
                <div class="uk-card-body">
                    <fieldset class="uk-fieldset">
    
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Judul Berita</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" formControlName="title" type="text" placeholder="Some text..." [ngClass]="{ 'uk-form-danger':  submitted && f.title.errors }">
                                <div *ngIf="submitted && f.title.errors" class="text-danger">
                                    <div *ngIf="f.title.errors.required">Title is required</div>
                                </div>
                            </div>
                        </div>
    
                        <div class="uk-margin" *ngIf="beritaForm.value.imageUrl == null">
                            <label class="uk-form-label" for="form-stacked-text">Gambar Berita</label>
                            <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Gambar Latar Belakang..." >                       
                        </div>
                            
                        <div class="uk-cover-container uk-height-medium" *ngIf="beritaForm.value.imageUrl != null">
                            <img data-src="{{beritaForm.value.imageUrl}}" alt="" uk-cover>
                            <a class="uk-position-absolute uk-transform-center" (click)="btnOpenModalUploadImage()" uk-toggle="target: .toggleForm" style="
                            left: 20%; 
                            top: 30%; 
                            background: #0F7AE5; 
                            color: white;     
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            padding: 5px;"
                            uk-icon="icon: pencil" >
                            </a>
                            <h1 class="uk-position-center" *ngIf="beritaForm.value.title != ''">
                                <span style="border-left: 12px solid #0F7AE5; border-bottom: 15px solid transparent; color: white;">  &nbsp; {{ beritaForm.controls.title?.value }} </span> 
                            </h1>
                        </div>
    
    
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Kategorti</label>
                            <div class="uk-form-controls">


                                <select class="uk-select"  formControlName="groups">
                                    <option *ngFor="let Groups of kategoriPost" [ngValue]="Groups.value">{{Groups.name}}</option>
                                </select>


                                <!-- <input class="uk-input" id="form-stacked-text" formControlName="groups" type="text" placeholder="Some text..." [ngClass]="{ 'uk-form-danger':  submitted && f.groups.errors }"> -->
                                <div *ngIf="submitted && f.groups.errors" class="text-danger">
                                    <div *ngIf="f.groups.errors.required">Title is required</div>
                                </div>



                            </div>
                        </div>
                        
                        
                
                        <div class="uk-margin">
                            <div class="uk-form-controls">

                                <p-editor formControlName="news" [style]="{'height':'320px'}">
                                    <ng-template pTemplate="header">
                                        <span class="ql-format-group">
                                            <span title="Bold" class="ql-format-button ql-bold"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Italic" class="ql-format-button ql-italic"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Underline" class="ql-format-button ql-underline"></span>
                                            <span class="ql-format-separator"></span>
                                            <span title="Strikethrough" class="ql-format-button ql-strike"></span>
                                        </span>
                                    </ng-template>
                                </p-editor>
                                
                                <!-- <dx-html-editor formControlName="news" [height]="500" [ngClass]=" { 'errorStyle' : submitted && f.news.errors }">
                                    <dxo-toolbar>
                                        <dxi-item formatName="undo"></dxi-item>
                                            <dxi-item formatName="redo"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                                            <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="bold"></dxi-item>
                                            <dxi-item formatName="italic"></dxi-item>
                                            <dxi-item formatName="strike"></dxi-item>
                                            <dxi-item formatName="underline"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="alignLeft"></dxi-item>
                                            <dxi-item formatName="alignCenter"></dxi-item>
                                            <dxi-item formatName="alignRight"></dxi-item>
                                            <dxi-item formatName="alignJustify"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="orderedList"></dxi-item>
                                            <dxi-item formatName="bulletList"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="color"></dxi-item>
                                            <dxi-item formatName="background"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="link"></dxi-item>
                                            <dxi-item formatName="image"></dxi-item>
                                            <dxi-item formatName="separator"></dxi-item>
                                            <dxi-item formatName="clear"></dxi-item>
                                            <dxi-item formatName="codeBlock"></dxi-item>
                                            <dxi-item formatName="blockquote"></dxi-item>
                                    </dxo-toolbar>
                                </dx-html-editor>    -->
    
                                <div *ngIf="submitted && f.news.errors" class="text-danger">
                                    <div *ngIf="f.news.errors.required">Isi Berita is required</div>
                                </div>              
                            </div>
                        </div>
                    </fieldset>
                </div>
    
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" (click)="onBatalTambahClick()">Batal</button>
                    <button type="submit" class="uk-button uk-button-primary">Save</button>
                </p>
            </span>

            
            <span class="toggleForm" hidden>
                <h2 class="uk-modal-title">Upload Gambar</h2>
        
                <div class="uk-form-controls mt-3">
                    <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Gambar Latar Belakang..."   [ngClass]="{ 'uk-form-danger':  beritaForm.value.imageUrl == null }">
                    <div *ngIf="beritaForm.value.imageUrl == null" class="uk-text-danger uk-text-italic">
                        <div >Latar Belakang berita wajib diisi</div>
                    </div>
                </div>
        
        
                <img width="100%" *ngIf="beritaForm.value.imageUrl != null" [src]="beritaForm.value.imageUrl" class="image">
        
                <p class="uk-text-right mt-4">
                    <button class="uk-button uk-button-default" uk-toggle="target: .toggleForm" (click)="btnCancelUpload()" type="button" id="btnHapus">Batal</button> &nbsp;
                    <button class="uk-button uk-button-primary" uk-toggle="target: .toggleForm" type="button">Simpan</button>
                </p>
            </span>

        </form>
        
        
    </div>
</div>

<style>
    .smallText{
        white-space: nowrap; 
        /* width: 100%;  */
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    
    .p-datatable .p-datatable-tbody > tr > td{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>

<p class="uk-text-right mt-4">
    <button class="uk-button uk-button-primary" (click)="onTambahClick()" uk-toggle="target: #modal-form-postexcl" type="button">Tambah</button>
</p>

<p-table [value]="dataGridList">
    <ng-template pTemplate="header" >
        <tr>
            <th class="rounded-top-left" width="50">No.</th>
            <th width="300">title</th>
            <th>groups</th>
            <th>Created</th>
            <th>Updated</th>
            <th>User Creator</th>
            <th class="rounded-top-right" style="text-align: center;">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td width="50">{{rowIndex + 1}}</td>
            <td width="300"  class="smallText">{{rowData.title}}</td>
            <td>{{rowData.groups}}</td>
            <td>{{rowData.createdAt |  date:'medium' }}</td>
            <td *ngIf="rowData.createdAt != rowData.updatedAt">{{rowData.updatedAt |  date:'medium'}}</td>
            <td *ngIf="rowData.createdAt == rowData.updatedAt"> - </td>
            <td>{{rowData.userId}}</td>
            <td style="text-align: center;">
                <span uk-icon="trash" class="btnEfect hover-primary m-2" (click)="onDeleteRow(rowData)"></span>
                <span uk-icon="pencil" class="btnEfect hover-primary m-2" uk-toggle="target: #modal-form-postexcl" (click)="onEditRow(rowData)"></span>
                <span uk-icon="info" class="btnEfect hover-primary m-2" (click)="onViewRow(rowData)"></span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            total data : {{dataGridList ? dataGridList.length : 0 }}
        </div>
    </ng-template>
    
</p-table>

<!-- modal-edit-image -->
<div id="modal-edit-image" class="uk-flex-top" uk-modal>    
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <h2 class="uk-modal-title">Upload Gambar</h2>

        <div class="uk-form-controls mt-3">
            <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Gambar Latar Belakang..."   [ngClass]="{ 'uk-form-danger':  beritaForm.value.imageUrl == null }">
            <div *ngIf="beritaForm.value.imageUrl == null" class="uk-text-danger uk-text-italic">
              <div >Latar Belakang berita wajib diisi</div>
            </div>
        </div>


        <img width="100%" *ngIf="beritaForm.value.imageUrl != null" [src]="beritaForm.value.imageUrl" class="image">

        <p class="uk-text-right mt-4">
            <button class="uk-button uk-button-default uk-modal-close" (click)="btnCancelUpload()" type="button" id="btnHapus">Batal</button> &nbsp;
            <button class="uk-button uk-button-primary uk-modal-close" type="button">Simpan</button>
        </p>
    </div>
</div>
<!-- modal-edit-image -->





<div id="previewBerita" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">{{ beritaForm.controls.title?.value }}</h2>
        <div class="uk-cover-container uk-height-medium" *ngIf="beritaForm.value.imageUrl != null">
            <img data-src="{{beritaForm.value.imageUrl}}" alt="" uk-cover>

            <h1 class="uk-position-center" *ngIf="beritaForm.value.title != ''">
                <span style="border-left: 12px solid #0F7AE5; border-bottom: 15px solid transparent; color: white;">  &nbsp; {{ beritaForm.controls.title?.value }} </span> 
            </h1>
        </div>

        <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{ beritaForm.controls.groups?.value }}</h3>
            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{ beritaForm.controls.title?.value | date:'medium' }}</time></p> -->
        </div>

        <div class="container-fluid">
            <div [innerHTML]="beritaForm.value.news | keepHtml"></div>
        </div>
</div>