/* =========================================== LOADING BAR =============================================== */
.slider{
    width:100%;
    height:5px;
    overflow-x: hidden;
  }

  .line{
    position:absolute;
    opacity: 0.4;
    background:#4caf50;
    width:150%;
    height:5px;
  }

  .subline{
    background:#4caf50;
    height:5px; 
  }
  .inc{
    animation: increase 0.5s infinite;
  }
  .dec{
    animation: decrease 0.5s 0.2s infinite;
  }

  @keyframes increase {
     from { left: -5%; width: 5%; }
     to { left: 130%; width: 100%;}
  }
  @keyframes decrease {
     from { left: -80%; width: 80%; }
     to { left: 110%; width: 10%;}
  }
  /* =========================================== LOADING BAR =============================================== */
